* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  padding: 0 0.5rem;
}

.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0.5rem;
}

/* SVG styles */
svg {
  font-family: Roboto, sans-serif;
}

svg #circles circle:hover {
  stroke: #222;
  stroke-width: 1.5;
  fill-opacity: 1;
}

/* Control buttons */
.control {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px 5px 5px 5px;
  position: relative;
}
.control .logo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  opacity: 80%;
}
.control-drawer {
  margin: 0.5rem;
  font-size: 0.75rem;
}
.control-drawer .drawer-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.control-drawer .drawer-title .title {
  padding: 0.25rem 1rem;
  border-right: 1px solid lightgray;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}
.control-drawer .drawer-title .text {
  text-align: center;
  flex-grow: 1;
  padding: 0.25rem;
  font-size: 0.75rem;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  flex-basis: 8%;
  border: 1px solid white;
  transition: background ease-in-out 0.3s, border-color ease-in-out 0.3s;
  margin: 0.5rem 0.175rem;
  border-radius: 4px;
  background: none;

  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 0.25rem;
  color: black;
  background-color: white;
  text-decoration: none;
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: #eee;
  transition: background ease-in-out 0.3s;
  /* border: 1px solid lightgray; */
}
.btn-active {
  background: #ddd;
  transition: background ease-in-out 0.3s;
  /* border: 1px solid lightgray; */
}
.btn-active:hover {
  background: #ddd;
}
.btn-highlight {
  background: white;
  border: 1px solid lightgray;
  transition: background ease-in-out 0.3s, border-color ease-in-out 0.3s;
  /* border: 1px solid lightgray; */
}
.btn-text {
  font-weight: bold;
}
.buttons .pure-button {
  flex-grow: 1;
  margin: 0;
  font-weight: bold;
  border-radius: 0;
}

/* Tooltip content */
.tooltip-title {
  font-weight: bold;
  font-size: 1rem;
}
.tooltip-value {
  font-weight: bold;
  font-size: 3rem;
}
.tooltip-name {
  font-size: 1rem;
  font-weight: bold;
}
.align {
  display: flex;
  align-items: bottom;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .control .logo {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    opacity: 80%;
  }
  .tooltip-title {
    font-weight: bold;
  }
  .tooltip-value {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .tooltip-name {
    font-weight: bold;
  }
}
/* D3 tooltip layout */
/* Tooltip */

.d3-tip {
  line-height: 1;
  font-family: Roboto;
  padding: 12px;
  background: rgba(76, 80, 88, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: '\25BC';
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: '\25C0';
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: '\25B2';
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: '\25B6';
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
